.viktorina_wrapper {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e7a458; }

.photos {
  position: relative;
  width: 100%; }

.carusel {
  overflow: hidden; }

.spiner {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: 100%;
  margin: 0 auto;
  -webkit-transition: .5s;
  transition: .5s; }

.album {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }
  .album ul {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: .5s;
    transition: .5s;
    position: relative; }
    .album ul li {
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: auto 100%;
      background-position: center;
      background-repeat: no-repeat; }

.navigation {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 12rem;
  height: 12rem;
  bottom: 3%;
  right: 3%;
  overflow: hidden; }

.inside-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%; }
  .inside-navigation > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
