$width: 20rem
.tetris
	display: flex
	flex-flow: row wrap
	justify-content: space-around
	width: $width
	margin: 0 auto
	.cell
		width: $width/10
		height: $width/10
		box-sizing: border-box
		background-color: #fff
		border: .1rem solid black
	.t-unit
		background-color: #F00
	.i-unit
		background-color: #00f
	.j-unit
		background-color: #ff0
	.l-unit
		background-color: #0f0
	.o-unit
		background-color: #FFA500
	.s-unit
		background-color: #A020F0
	.z-unit
		background-color: #00BFFF
	.stone 
		background-color: #4F4F4F
		box-shadow: inset 0 0 0 1px #fff
